styles.css

body {
  background-color: linen;
}
h1 {
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 20px;
  color: maroon;
}

h2 {
  font-family: sans-serif;
  font-size: 15px
}

p{
  padding-left: 20px;
  font-size: 18px;
}

img {
  max-width: 250px;
}
